/* -------------------------------------------------------------------- */
/* ---------------------------- clear style --------------------------- */
/* -------------------------------------------------------------------- */
.alfasintez-catalog-items-detail > table,
.alfasintez-catalog-items-detail > table th,
.alfasintez-catalog-items-detail > table td
{
	border: none;
	padding: 0;
	margin:  0;
}
/* -------------------------------------------------------------------- */
/* ------------------------------- table ------------------------------ */
/* -------------------------------------------------------------------- */