.alfasintez-catalog-items-slider
{
	align-items: center;
	display: flex;
}
.alfasintez-catalog-items-slider .navigation
{
	color: #8DC04A;
	cursor: pointer;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	transition: 0.5s;
	width:  48px;
	height: 48px;
}
.alfasintez-catalog-items-slider .navigation:hover,
.alfasintez-catalog-items-slider .navigation:active,
.alfasintez-catalog-items-slider .navigation:focus
{
	color: #7EB341;
}
.alfasintez-catalog-items-slider .slider-block
{
	align-items: center;
	display: flex;
	margin: 0 -15px;
	width: calc(100% - 48px * 2 + 30px);
}
.alfasintez-catalog-items-slider .slider-block .item
{
	margin: 0 15px;
	width: 25%;
}